Connected Services/WCFServiceLib/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="build" type="xs:int" />
        <xs:element minOccurs="0" name="flat" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goodname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="AddrId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddrId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrdId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddressUserLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="AddrId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddressUserLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAddressUserLinkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddressUserLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddressUserLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAddressUserLinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>